@page
@model dynamic

<hr />

<div class="add-entry">
    <form method="post" asp-page-handler="AddEntry">
        <button type="submit" class="btn btn-primary">+Add entry</button>
    </form>
</div>
